/* Katze sitzt auf dem Kontaktformular */
.cat-on-form {
  position: absolute;
  top: 100px;     /* höher setzen */
  right: 0px;   /* leicht nach rechts */
  width: 260px;
  height: 260px;
  pointer-events: none;
  z-index: 50;
}

#cat {
  width: 100%;
  height: 100%;
}
